div.hdrWrap>div.header>div.hdrLeft>h1{
    line-height: 40px;
    font-size: 25px;
}
div.hdrWrap>div.header>div.hdrRight>div.icons{
    margin-left: 0;
}
div.hdrWrap>div.header>div.hdrRight>div.icons>i:nth-child(3){
    line-height: 40px;
    font-size: 20px;
}

div.navboxWrap>div.navBox>h1{
    font-size: 30px;
    line-height: 30px;
}
div.navboxWrap>div.navBox>div.btn{
    font-size: 20px;
}
div.navboxWrap>div.navBox>ul.arco{
    margin-top: 60px;
    padding-left: 10px;
}
div.navboxWrap>div.navBox>ul.arco>li:nth-child(odd){
    line-height: 30px;
    font-size: 25px;
}
div.navboxWrap>div.navBox>ul.arco>li>h4{
    line-height: 30px;
    font-size: 20px;
    margin-left: 10px;
}
div.navboxWrap>div.navBox>ul.arco>li:nth-child(odd).on+li{
    height: 130px;
}
div.navboxWrap>div.navBox>div.btns{
    margin-top: 160px;
}
div.navboxWrap>div.navBox>div.btns>div.btn{
    font-size: 20px;
    line-height: 30px;
}


div.mainWrap{
    height: 240px;
}
div.mainWrap>div.main{
    padding-top: 80px;
}
div.mainWrap>div.main>h2{
    line-height: 40px;
    font-size: 20px;
}
div.mainWrap>div.main>div.btn{
    width: calc(100% / 4 );
    line-height: 20px;
    height: 20px;
    margin-top: 20px;
}
div.cntWrap>div.content>div.header h2{
    font-size: 25px;
    line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.header>div.texts>h5{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artView{
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    height: 160px;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup{
    width: 300%;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article{
    height: 160px;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>div.image{
    height: 160px;
}
div.cntWrap>div.content.cnt01>div.section>div.btn{
    height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.btn>i{
    font-size: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>div.texts{
    display: block;
    margin-top: -40px;
    text-align: left;
    color: #fff;
    padding-left: 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article:hover>div.texts{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>div.texts>h3{
    font-size: 20px;
    line-height: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>div.texts>h5{
    font-size: 14px;
    line-height: 20px;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.texts{
    width: 100%;
    height: 40px;
    overflow: hidden;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.texts>h2{
    display: inline;
    overflow: hidden;
    font-size: 20px;
    height: 40px;
    width: 400%;
    animation-name: move;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.texts>h2>span{
    display: inline;
}
@keyframes move {
    0%{
        margin-left: -10%;
    }
    100%{
        margin-left: -220vw;
    }
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.texts>h2>br{
    display: none;
}
div.bnrWrap.bnrWrap01>div.banner.bnr01>div.video>video{
    margin-top: 0;
}


div.cntWrap>div.content.cnt02>div.header{
    width: 100%;
}
div.cntWrap>div.content.cnt02>div.section>div.artView{
    height: 800px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i3{
    background-image: url('../images/4.polo/mainmob_content2_article3.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i1{
    background-image: url('../images/4.polo/mainmob_content2_article1.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image.i2{
    background-image: url('../images/4.polo/mainmob_content2_article2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article{
    height: 240px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image{
    height: 240px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>div.image>p{
    font-size: 12px;
    text-align: center;
    margin: auto;
    top: 0;bottom: 0;
    left: 0; right: 0;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.image{
    height: 200px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts{
    margin-top: -130px;
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts>p{
    font-size: 12px;
    line-height: 20px;
    height: 40px;
    width: calc(100% / 4 * 3);
}
div.bnrWrap.bnrWrap02>div.banner.bnr02>div.texts>div.btn{
    line-height: 20px;
    height: 20px;
    font-size: 12px;
    width: calc(100% / 4 );
    margin-top: 20px;
}
div.cntWrap>div.content.cnt03>div.header>h2{
    margin-top: -65px;
}
div.cntWrap>div.content.cnt03>div.header>h2{
    line-height: 40px;
    font-size: 30px;
}
div.cntWrap>div.content.cnt03>div.header>h5{
    line-height: 20px;
    font-size: 18px;
}

div.ftrWrap{
    margin-top: 40px;
}
div.ftrWrap>div.footer>.ftrTop>h1{
    font-size: 18px;
}
div.ftrWrap>div.footer>.ftrTop>ul.nav>li{
    font-size: 12px;
}
div.ftrWrap>div.footer>.ftrTop>ul.nav{
    width: calc(100% / 4 * 3);
    min-width: 220px;
    margin: 10px auto;
}
div.ftrWrap>div.footer>.ftrBtm>.sns{
    font-size: 16px;
    margin-top: 10px;
}