@font-face{
    font-family: 'face';
    src: url('../fonts/BASKVILL.ttf') format('truetype');
}
@font-face{
    font-family: 'dm';
    src: url('../fonts/DMSerifDisplay-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'tajawal';
    src: url('../fonts/Tajawal-Light.ttf') format('truetype');
}
@font-face{
    font-family: 'arial';
    src: url('../fonts/ayar.ttf') format('truetype');
}

body{
    overflow-x: hidden;
}
.image{
    text-indent: -9999px;
}
div.hdrWrap{
    background-color: #fff;
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0; left: 0;
    z-index: 5;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrLeft{
    /* width: calc(100% / 12 * 7.2); */
    float: left;
}
div.hdrWrap>div.header>div.hdrLeft>h1{
    font-family: 'face';
    font-size: 55px;
    line-height: 55px;
    color: #02073d;
    text-transform: uppercase;
}
div.hdrWrap>div.header>div.hdrRight{
    width: calc(100% / 12 * 2.6);
    min-width: 177.66px;
    float: right;
    line-height: 55px;
}
div.hdrWrap>div.header>div.hdrRight>div.mem{
    float: left;
    font-size: 15px;
    text-transform: capitalize;
}
div.hdrWrap>div.header>div.hdrRight>div.mem>span:nth-child(odd){
    cursor: not-allowed;
}
div.hdrWrap>div.header>div.hdrRight>div.mem>span:nth-child(2){
    margin: 0px 3px;
}
div.hdrWrap>div.header>div.hdrRight>div.icons{
    float: left; 
    margin-left: 25px;
}
div.hdrWrap>div.header>div.hdrRight>div.icons>i{
    font-size: 15px;
    cursor: not-allowed;
}
div.hdrWrap>div.header>div.hdrRight>div.icons>i:nth-child(3){
    display: none;
}
div.hdrWrap>div.header>div.hdrRight>div.icons>i:nth-child(2){
    margin-left: 25px;
}



div.menuWrap>ul.menuBox{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 145px;
}
div.menuWrap>ul.menuBox>li{
    font-size: 16px;
    line-height: 80px;
    text-transform: capitalize;
    font-family: 'arial';
    font-weight: 700;
    cursor: pointer;
}
div.menuWrap>ul.menuBox>li:nth-child(1){
    color: #f00;
}


div.navboxWrap{
    display: none;
}

div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: -160px;
}
div.mainWrap>div.main>h2{
    font-size: 25px;
    line-height: 40px;
    width: calc(100% / 12 * 7);
    text-align: center;
    margin: 0 auto;
    font-family: 'face';
}


div.cntWrap{
    margin-top: 240px;
}
div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
div.cntWrap>div.content>div.header h2{
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'face';
    font-weight: 700;
}
div.cntWrap>div.content>div.section>div.artView>div.artGroup>div.article>.image:hover{
    box-shadow: 1px 1px 10px black;
}
div.cntWrap>div.content>div.section>div.artView>div.artGroup>div.article>.image{
    cursor: pointer;
}
div.cntWrap>div.content .image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.cntWrap>div.content>div.header>div.image>div.ovrGrid{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.cntWrap>div.content>div.section>div.artView>div.artGroup>div.article>.texts>h5>span{
    text-shadow: 1px 1px 3px #666;
}
div.cntWrap>div.content>div.section>div.artView>div.artGroup>div.article>.texts>h3{
    cursor: pointer;
}
div.cntWrap>div.content>div.section>div.artView>div.artGroup>div.article>.texts>h5{
    cursor: pointer;
}
div.cntWrap>div.content>div.section>a>h4{
    cursor: pointer;
}


div.cntWrap>div.content.cnt01>div.section{
    width: calc(100% / 12 * 9);
    height: 480;
    position: relative;
}
div.cntWrap>div.content.cnt01>div.section>div.artView{
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
    overflow: hidden;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup{
    width: 180%;
    display: flex;
    justify-content: space-between;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article{
    width: calc(100% / 6 - 20px);
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>.image{
    background-color: #ccc;
    height: 400px;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>.image.i1{
    background-image: url('../images/4.polo/sub1pc_content1_article1.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>.image.i2{
    background-image: url('../images/4.polo/sub1pc_content1_article2.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>.image.i3{
    background-image: url('../images/4.polo/sub1pc_content1_article3.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>.image.i4{
    background-image: url('../images/4.polo/sub1pc_content1_article4.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>.image.i5{
    background-image: url('../images/4.polo/mainpc_content1_article5.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>.image.i6{
    background-image: url('../images/4.polo/mainpc_content1_article6.jpg');
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>.texts>h3{
    font-size: 15px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>.texts>h5{
    font-size: 12px;
    color: #f00;
    line-height: 40px;
    margin-right: 20px;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article>.texts>h5>span{
    font-size: 16px;
    margin-left: 10px;
    color: #ccc;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article.a1>.texts>h5>span:nth-child(1){
    color: #fff;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article.a1>.texts>h5>span:nth-child(2){
    color: #000;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article.a2>.texts>h5>span:nth-child(1){
    color: sandybrown;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article.a2>.texts>h5>span:nth-child(2){
    color: #000;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article.a3>.texts>h5>span:nth-child(1){
    color: sandybrown;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article.a3>.texts>h5>span:nth-child(2){
    color: #000;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article.a4>.texts>h5>span:nth-child(1){
    color: #555;
}
div.cntWrap>div.content.cnt01>div.section>div.artView>div.artGroup>div.article.a4>.texts>h5>span:nth-child(2){
    color: #000;
}
div.cntWrap>div.content.cnt01>div.section>div.btn{
    height: 80px;
    position: absolute;
    top: 25%;
    right: 0;
    color: #fff;
}
div.cntWrap>div.content.cnt01>div.section>div.btn>i{
    font-size: 80px;
    text-shadow: 1px 1px 5px black;
    cursor: pointer;
}
div.cntWrap>div.content.cnt01>div.section>div.bar{
    margin-top: 80px;
    margin-left: 10px;
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
}
div.cntWrap>div.content.cnt01>div.section>ul.bar>h4{
    font-size: 25px;
    line-height: 30px;
}
div.cntWrap>div.content.cnt01>div.section>div.bar>div.per{
    height: 5px;
    width: 16.66%;
    background-color: #000;
    margin-top: 20px;
    transition: width 0.5s;
}
div.cntWrap>div.content.cnt01>div.section>div.bar::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ccc;
}
div.cntWrap>div.content.cnt01>div.section>a>h4{
    margin-left: 10px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}



div.cntWrap>div.content.cnt02{
    display: flex;
    justify-content: space-between;
    direction: rtl;
}
div.cntWrap>div.content.cnt02>div.header{
    width: calc(100% / 12 * 3.5);
    display: flex;
    direction: ltr;
    justify-content: space-between;
}
div.cntWrap>div.content.cnt02>div.header>div.texts{
    width: 100%;
    padding-right: 20px;
    text-align: right;
}
div.cntWrap>div.content.cnt02>div.header>div.texts>h5{
    font-family: 'arial';
    font-size: 16px;
}
div.cntWrap>div.content.cnt02>div.header>div.texts>h5:nth-child(2){
    margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.header>div.texts>h5:nth-child(3){
    margin-top: 30px;
}
div.cntWrap>div.content.cnt02>div.header>div.image{
    width: calc(100% / 12);
}
div.cntWrap>div.content.cnt02>div.header>div.image>div.ovrGrid{
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
    height: 640px;
    background-color: #ccc;
    background-image: url('../images/4.polo/sub1pc_comtent2_ovrView.jpg');
}
div.cntWrap>div.content.cnt02>div.section{
    width: calc(100% / 12 * 8);
    height: 480;
    position: relative;
}
div.cntWrap>div.content.cnt02>div.section>div.artView{
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
    overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup{
    width: 180%;
    display: flex;
    justify-content: space-between;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article{
    width: calc(100% / 6 - 20px);
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>.image{
    background-color: #ccc;
    height: 400px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>.image.i1{
    background-image: url('../images/4.polo/sub1pc_content2_article1.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>.image.i2{
    background-image: url('../images/4.polo/sub1pc_content2_article2.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>.image.i3{
    background-image: url('../images/4.polo/sub1pc_content2_article3.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>.image.i4{
    background-image: url('../images/4.polo/sub1pc_content2_article4.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>.image.i5{
    background-image: url('../images/4.polo/sub1_pc_content2_article5.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>.image.i6{
    background-image: url('../images/4.polo/sub1_pc_content2_article6.jpg');
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>.texts{
    direction: ltr;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>.texts>h3{
    font-size: 15px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>.texts>h5{
    font-size: 12px;
    color: #f00;
    line-height: 40px;
    margin-right: 20px;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article>.texts>h5>span{
    font-size: 16px;
    margin-left: 10px;
    color: #ccc;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article.a1>.texts>h5>span:nth-child(1){
    color: #02073d;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article.a1>.texts>h5>span:nth-child(2){
    color: #000;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article.a2>.texts>h5>span:nth-child(1){
    color: #fc0;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article.a2>.texts>h5>span:nth-child(2){
    color: #fff;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article.a3>.texts>h5>span:nth-child(1){
    color: sandybrown;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article.a3>.texts>h5>span:nth-child(2){
    color: #000;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article.a4>.texts>h5>span:nth-child(1){
    color: #02073d;
}
div.cntWrap>div.content.cnt02>div.section>div.artView>div.artGroup>div.article.a4>.texts>h5>span:nth-child(2){
    color: #000;
}
div.cntWrap>div.content.cnt02>div.section>div.btn{
    height: 80px;
    position: absolute;
    top: 25%;
    left: 0;
    color: #fff;
}
div.cntWrap>div.content.cnt02>div.section>div.btn>i{
    font-size: 80px;
    text-shadow: 1px 1px 5px black;
    cursor: pointer;
}
div.cntWrap>div.content.cnt02>div.section>div.bar{
    margin-top: 80px;
    margin-right: 10px;
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
}
div.cntWrap>div.content.cnt02>div.section>ul.bar>h4{
    font-size: 25px;
    line-height: 30px;
}
div.cntWrap>div.content.cnt02>div.section>div.bar>div.per{
    height: 5px;
    width: 16.66%;
    background-color: #000;
    margin-top: 20px;
    transition: width 0.5s;
}
div.cntWrap>div.content.cnt02>div.section>div.bar::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ccc;
}
div.cntWrap>div.content.cnt02>div.section>a>h4{
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    margin-right: 10px;
}


div.cntWrap>div.content.cnt03{
    display: flex;
    justify-content: space-between;
}
div.cntWrap>div.content.cnt03>div.header{
    width: calc(100% / 12 * 3.5);
    display: flex;
    justify-content: space-between;
    direction: rtl;
}
div.cntWrap>div.content.cnt03>div.header>div.texts{
    width: 100%;
    padding-left: 20px;
    text-align: left;
}
div.cntWrap>div.content.cnt03>div.header>div.texts>h5{
    font-family: 'arial';
    font-size: 16px;
    margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.header>div.image{
    width: calc(100% / 12);
    direction: rtl;
}
div.cntWrap>div.content.cnt03>div.header>div.image>div.ovrGrid{
    width: calc((100vw - 1080px) / 2 + 100%);
    height: 640px;
    background-color: #ccc;
    min-width: calc((100vw - 80vw) / 2 + 100%);
    background-image: url('../images/4.polo/sub1pc_content3_ovrView.jpg');
}
div.cntWrap>div.content.cnt03>div.section{
    width: calc(100% / 12 * 8);
    height: 480;
    position: relative;
}
div.cntWrap>div.content.cnt03>div.section>div.artView{
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
    overflow: hidden;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup{
    width: 180%;
    display: flex;
    justify-content: space-between;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article{
    width: calc(100% / 6 - 20px);
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article>.image{
    background-color: #ccc;
    height: 400px;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article>.image.i1{
    background-image: url('../images/4.polo/sub1pc_content3_article1.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article>.image.i2{
    background-image: url('../images/4.polo/sub1pc_content3_article2.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article>.image.i3{
    background-image: url('../images/4.polo/sub1pc_content3_article3.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article>.image.i4{
    background-image: url('../images/4.polo/sub1pc_content3_article4.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article>.image.i5{
    background-image: url('../images/4.polo/sub1pc_content3_article5.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article>.image.i6{
    background-image: url('../images/4.polo/sub1pc_content3_article6.jpg');
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article>.texts{
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article>.texts>h3{
    font-size: 15px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article>.texts>h5{
    font-size: 12px;
    color: #f00;
    line-height: 40px;
    margin-right: 20px;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article>.texts>h5>span{
    font-size: 16px;
    margin-left: 10px;
    color: #ccc;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article.a1>.texts>h5>span:nth-child(1){
    color: #02073d;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article.a1>.texts>h5>span:nth-child(2){
    color: #000;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article.a2>.texts>h5>span:nth-child(1){
    color: #fff;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article.a2>.texts>h5>span:nth-child(2){
    color: #000;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article.a3>.texts>h5>span:nth-child(1){
    color: sandybrown;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article.a3>.texts>h5>span:nth-child(2){
    color: #fff;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article.a4>.texts>h5>span:nth-child(1){
    color: #02073d;
}
div.cntWrap>div.content.cnt03>div.section>div.artView>div.artGroup>div.article.a4>.texts>h5>span:nth-child(2){
    color: #000;
}
div.cntWrap>div.content.cnt03>div.section>div.btn{
    height: 80px;
    position: absolute;
    top: 25%;
    right: 0;
    color: #fff;
}
div.cntWrap>div.content.cnt03>div.section>div.btn>i{
    font-size: 80px;
    text-shadow: 1px 1px 5px black;
    cursor: pointer;
}
div.cntWrap>div.content.cnt03>div.section>div.bar{
    margin-top: 80px;
    margin-left: 10px;
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
}
div.cntWrap>div.content.cnt03>div.section>ul.bar>h4{
    font-size: 25px;
    line-height: 30px;
}
div.cntWrap>div.content.cnt03>div.section>div.bar>div.per{
    height: 5px;
    width: 16.66%;
    background-color: #000;
    margin-top: 20px;
    transition: width 0.5s;
}
div.cntWrap>div.content.cnt03>div.section>div.bar::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ccc;
}
div.cntWrap>div.content.cnt03>div.section>a>h4{
    margin-left: 10px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}


div.cntWrap>div.content.cnt04{
    display: flex;
    justify-content: space-between;
    direction: rtl;
}
div.cntWrap>div.content.cnt04>div.header{
    width: calc(100% / 12 * 3.5);
    display: flex;
    direction: ltr;
    justify-content: space-between;
}
div.cntWrap>div.content.cnt04>div.header>div.texts{
    width: 100%;
    padding-right: 20px;
    text-align: right;
}
div.cntWrap>div.content.cnt04>div.header>div.texts>h5{
    font-family: 'arial';
    font-size: 16px;
}
div.cntWrap>div.content.cnt04>div.header>div.texts>h5:nth-child(2){
    margin-top: 40px;
}
div.cntWrap>div.content.cnt04>div.header>div.texts>h5:nth-child(3){
    margin-top: 30px;
}
div.cntWrap>div.content.cnt04>div.header>div.image{
    width: calc(100% / 12);
}
div.cntWrap>div.content.cnt04>div.header>div.image>div.ovrGrid{
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
    height: 640px;
    background-color: #ccc;
    background-image: url('../images/4.polo/sub1pc_content4_ovrView.jpg');
}
div.cntWrap>div.content.cnt04>div.section{
    width: calc(100% / 12 * 8);
    height: 480;
    position: relative;
}
div.cntWrap>div.content.cnt04>div.section>div.artView{
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
    overflow: hidden;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup{
    width: 180%;
    display: flex;
    justify-content: space-between;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article{
    width: calc(100% / 6 - 20px);
    margin: 0px 10px;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>.image{
    background-color: #ccc;
    height: 400px;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>.image.i1{
    background-image: url('../images/4.polo/sub1pc_content4_article1.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>.image.i2{
    background-image: url('../images/4.polo/sub1pc_content4_article2.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>.image.i3{
    background-image: url('../images/4.polo/sub1pc_content4_article3.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>.image.i4{
    background-image: url('../images/4.polo/sub1pc_content4_article4.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>.image.i5{
    background-image: url('../images/4.polo/sub1pc_content4_article5.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>.image.i6{
    background-image: url('../images/4.polo/sub1pc_content4_article6.jpg');
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>.texts{
    direction: ltr;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>.texts>h3{
    font-size: 15px;
    line-height: 40px;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>.texts>h5{
    font-size: 12px;
    color: #f00;
    line-height: 40px;
    margin-right: 20px;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article>.texts>h5>span{
    font-size: 16px;
    margin-left: 10px;
    color: #ccc;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article.a1>.texts>h5>span:nth-child(1){
    color: #02073d;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article.a1>.texts>h5>span:nth-child(2){
    color: #fff;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article.a2>.texts>h5>span:nth-child(1){
    color: #555;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article.a2>.texts>h5>span:nth-child(2){
    color: #fff;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article.a3>.texts>h5>span:nth-child(1){
    color: #02073d;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article.a3>.texts>h5>span:nth-child(2){
    color: #000;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article.a4>.texts>h5>span:nth-child(1){
    color: #000;
}
div.cntWrap>div.content.cnt04>div.section>div.artView>div.artGroup>div.article.a4>.texts>h5>span:nth-child(2){
    color: #fff;
}
div.cntWrap>div.content.cnt04>div.section>div.btn{
    height: 80px;
    position: absolute;
    top: 25%;
    left: 0;
    color: #fff;
}
div.cntWrap>div.content.cnt04>div.section>div.btn>i{
    font-size: 80px;
    text-shadow: 1px 1px 5px black;
    cursor: pointer;
}
div.cntWrap>div.content.cnt04>div.section>div.bar{
    margin-top: 80px;
    margin-right: 10px;
    width: calc((100vw - 1080px) / 2 + 100%);
    min-width: calc((100vw - 80vw) / 2 + 100%);
}
div.cntWrap>div.content.cnt04>div.section>ul.bar>h4{
    font-size: 25px;
    line-height: 30px;
}
div.cntWrap>div.content.cnt04>div.section>div.bar>div.per{
    height: 5px;
    width: 16.66%;
    background-color: #000;
    margin-top: 20px;
    transition: width 0.5s;
}
div.cntWrap>div.content.cnt04>div.section>div.bar::after{
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #ccc;
}
div.cntWrap>div.content.cnt04>div.section>a>h4{
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
    margin-right: 10px;
}


div.ftrWrap{
    margin-top: 120px;
    background-color: #041e3a;
    color: #fff;
}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
div.ftrWrap>div.footer>.ftrTop{
    display: flex;
    justify-content: space-between;
}
div.ftrWrap>div.footer>.ftrTop>h1{
    color: #a69d74;
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'face';
}
div.ftrWrap>div.footer>.ftrTop>ul.nav{
    width: calc(100% / 12 * 4.3);
    display: flex;
    justify-content: space-between;
    min-width: 360px;
}
div.ftrWrap>div.footer>.ftrTop>ul.nav>li{
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    cursor: not-allowed;
}
div.ftrWrap>div.footer>.ftrBtm{
    display: flex;
    justify-content: space-between;
}
div.ftrWrap>div.footer>.ftrBtm>.sns{
    font-size: 20px;
    line-height: 40px;
    margin-top: 20px;
}
div.ftrWrap>div.footer>.ftrBtm>.sns>i{
    cursor: pointer;
}
div.ftrWrap>div.footer>.ftrBtm>.social>h4{
    font-size: 12px;
    margin-top: 20px;
}
div.ftrWrap>div.footer>.ftrBtm>.social>form{
    font-size: 12px;
    width: calc(100% / 6 * 4);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: auto;
}
div.ftrWrap>div.footer>.ftrBtm>.social>form>input{
    width: 85%;
    background-color: #041e3a;
    border: none;
    border-bottom: 1px solid white;
    color: #fff;
}
div.ftrWrap>div.footer>.ftrBtm>.social>form>button{
    width: 15%;
    background-color: #041e3a;
    color: #fff;
    border: none;
    border-bottom: 1px solid white;
    cursor: pointer;
}